# Directories
.vs/
bin/
bin-int/
Instance-Manager/Template/
instances/

# Files
*.exe
*.zip

# Exclude
!vendor/bin
/Instance-Manager/AppxManifest.xml
/Instance-Manager/config.json
/Instance-Manager/screenshot.png
/Instance-Manager/images
/InstanceManager/images
/InstanceManager/Template
/InstanceManager/x64/Debug
/x64/Debug
/InstanceManager/screenshot.png
/InstanceManager/config.json
/InstanceManager/x64/Release
/x64/Release
/InstanceManager/Release
/x84-injector/Release/x86-injector.tlog
/x84-injector/Release
/x84-injector/x64/Release
