# Directories
.vs/
bin/
bin-int/
Instance-Manager/Template/
instances/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.exe
*.zip

# Exclude
!vendor/bin
/Instance-Manager/AppxManifest.xml
/Instance-Manager/config.json
/Instance-Manager/screenshot.png
/Instance-Manager/images
/InstanceManager/images
/InstanceManager/Template
/InstanceManager/x64/Debug
/x64/Debug
/InstanceManager/screenshot.png
/InstanceManager/config.json
